# Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
venv/
.env/
.venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE/editor/settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
